fastapi==0.115.6
fastapi[standard]==0.115.6
shapely==2.0.6
pytest==8.3.4
pytest_cov==6.0.0
pyproj==3.7.0
uvicorn==0.34.0
httpx==0.28.1
geopandas==1.0.1
rasterio==1.4.3
colorlog==6.9.0
mercantile==1.2.1
pillow==11.1.0
python-dotenv==1.0.1
pycountry==24.6.1